 <style type="text/css">
         .border-story-{{style_wiNumber}} {
            border: 4px solid #{{border_color}};
        }  
</style>
<div class="container border-story-{{style_wiNumber}}">
  <div class="title-and-estimate-container">
    <div class="title-container">
        <div class="vsts-number">
          <img src="{{icon}}" class="icon-image"/>
          <div class="work-item-text">{{work_item_type}} - {{number}}</div>
          <div class="col-space">&nbsp;</div>
          <div class="work-item-text" style="color:{{state_color}};!important">State: {{state}}</div>
        </div>
        <hr>
      <div class="title-text">
        {{title}}
      </div>
    </div>
    <div class="estimate-container border-story-{{style_wiNumber}}">
      <div class="estimate-number">{{estimate}}</div>
    </div>
  </div>
  <div class="po-vsts-container">
    <div class="po">
      <strong>Assigned To:</strong>
      {{assigned_to}}
    </div>
  </div>
  <div class="space-block"> <hr></div>
  <div class="po-path-container">
    <hr>
    <div class="vsts-area">
        <strong>Epic:</strong> {{parent_name}}
    </div>
        <div class="col-space">&nbsp;</div>
    <div class="vsts-iteration">
        <strong>PO:</strong> {{product_owner}}
    </div>
    <div class="col-space">&nbsp;</div>
        <div class="vsts-iteration">
        <strong>Wave Quarter:</strong> {{wave_quarter}}
    </div>
  </div>
</div>